
978-1-4302-3330-5_Chung_TouchPainter_code/TouchPainter/TouchPainter.xcodeproj/xcuserdata/baidu.xcuserdatad/xcschemes/xcschememanagement.plist

978-1-4302-3330-5_Chung_TouchPainter_code/TouchPainter/TouchPainter.xcodeproj/xcuserdata/baidu.xcuserdatad/xcschemes/TouchPainter.xcscheme

978-1-4302-3330-5_Chung_TouchPainter_code/TouchPainter/TouchPainter.xcodeproj/xcuserdata/baidu.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

978-1-4302-3330-5_Chung_TouchPainter_code/TouchPainter/TouchPainter.xcodeproj/project.xcworkspace/xcuserdata/baidu.xcuserdatad/UserInterfaceState.xcuserstate

978-1-4302-3330-5_Chung_TouchPainter_code/TouchPainter/TouchPainter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
